# 忽略 Visual Studio 生成的临时文件夹
.vs/
*/**/.vs/
*/.vs/
# 递归忽略 * 目录下所有解决方案的 bin 文件夹
*/**/bin/

# 递归忽略 * 目录下所有解决方案的 obj 文件夹
*/**/obj/
/test/efMigrationTest/AspNetCore.AutoMigrationTest/Migrations/20250414135423_Init.cs
/test/efMigrationTest/AspNetCore.AutoMigrationTest/Migrations/20250414135423_Init.Designer.cs
/test/efMigrationTest/AspNetCore.AutoMigrationTest/Migrations/TestContextModelSnapshot.cs
