@using CelHost.Admin.Components
@inherits LayoutComponentBase

<PageBase>
    <CustomLayout ShowFooter="false">
        <Header>
            <div class="header">
            </div>
        </Header>
        <Main>
            @Body
        </Main>
        <Sidebar>
            <CustomNevMenu NavItems="@NavLinks">
                <Title>
                    CelHost
                </Title>
            </CustomNevMenu>
        </Sidebar>
    </CustomLayout>
</PageBase>

@code {
    private List<CustomNevMenu.NavItem> NavLinks = new()
    {
        new()
        {
            Title = "仪表盘",
            Icon = "bi bi-speedometer2",
            Href = "/dashboard"
        },
        new()
        {
            Title = "系统管理",
            Icon = "bi bi-gear",
            IsExpanded = true,
            Children = new()
            {
                new CustomNevMenu.NavItem { Title = "用户管理", Href = "/users", Icon = "bi bi-person" },
                new CustomNevMenu.NavItem { Title = "角色管理", Href = "/roles", Icon = "bi bi-shield-lock" }
            }
        },
        new()
        {
            Title = "关于",
            Icon = "bi bi-info-circle",
            Href = "/about"
        }
    };


}
<style>
    .header {
        display: flex;
        justify-content: space-between;
        height: 3rem;
        background-color: #b2babb;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        top: 0;
        padding:0 1rem;
        align-items:center;

    }
</style>
