@using CelHost.Admin.Components
@inherits LayoutComponentBase

<PageBase>
    <div class="main-layout">
        <CustomLayout ShowFooter="false">
            <Header>
                <div class="header">
                </div>
            </Header>
            <Main>
                @Body
            </Main>
            <Sidebar>
                <CustomNevMenu NavItems="@NavLinks">
                    <Title>
                        <img src="/images/logo.png" alt="图标"/>
                        <span style=" margin-left: 0.2rem; font-size: 0.875rem; font-weight: bold; color: #2f3135">数据网关中心</span>
                    </Title>
                </CustomNevMenu>
            </Sidebar>
        </CustomLayout>
    </div>
</PageBase>

@code {
    private List<CustomNevMenu.NavItem> NavLinks = new()
    {
        new()
        {
            Title = "仪表盘",
            Icon = "bi bi-speedometer2",
            Href = "/dashboard"
        },
        new()
        {
            Title = "系统管理",
            Icon = "bi bi-gear",
            IsExpanded = true,
            Children = new()
            {
                new CustomNevMenu.NavItem { Title = "用户管理", Href = "/users", Icon = "bi bi-person" },
                new CustomNevMenu.NavItem { Title = "角色管理", Href = "/roles", Icon = "bi bi-shield-lock" }
            }
        },
        new()
        {
            Title = "关于",
            Icon = "bi bi-info-circle",
            Href = "/about"
        }
    };


}
<style>
    .header {
        display: flex;
        justify-content: space-between;
        height: 3rem;
        background-color:rgba(255,255,255 0);
        top: 0;
        padding: 0 1rem;
        align-items: center;
    }

    .main-layout 
    {
        box-sizing: content-box;
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100vw;
        background-image: url("/images/main_background.png");
    }
</style>
