@inject TabService TabService;

<div class="tabs">
    @foreach (var tab in TabService.Tabs)
    {
        <div class="tab-item">
            <p>@tab.Title</p>
            <i class="bi bi-x-circle"></i>
        </div>
    }
</div>