@using CelHost.Apis.Models;
@page "/System/Dictionary"

<div class="container">
    <div class="row1">
        <div class="col-6 col-sm-4 col-md-3 col-lg-auto"><Button OnClick="@ShowAddDialog" Color="Color.Primary">添加</Button></div>
    </div>
    <div class="row2">
        <Table TItem="DictItem" ShowSkeleton="true" IsTree="true" OnQueryAsync="@QueryItems" TreeNodeConverter="@TreeNodeConverter" 
            OnTreeExpand="@OnTreeExpand">
            <TableColumns>
                
            </TableColumns>
        </Table>
    </div>
</div>