@page "/detail"
@using CelHost.Admin.Shared
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
<h1>Gateway Detail</h1>
@code {

}
