@page "/"
@using System.Diagnostics.CodeAnalysis
@using CelHost.Admin.Components
@using CelHost.Apis.ApiServices
@using System.ComponentModel.DataAnnotations
@layout StartLayout

<div class="login">
    <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(1)">
        <div class="login-form">
            <div class="text-center mb-4">
                <h3 style="font-family: Arial; font-weight: bold;">欢迎登录</h3>
                <div class="shortLine my-2"></div>
            </div>
            <ValidateForm Model="Model" ShowLabel="false" OnValidSubmit="LoginClick">
                <div class="mb-4">
                    <BootstrapInput @bind-Value="Model.Account"
                                    PlaceHolder="请输入账号"
                                    TValue="string"
                                    IsAutoFocus="true"
                                    IsSelectAllTextOnFocus="true"
                                    IsTrim="true"
                                    IsClearable="true" />
                </div>

                <div class="mb-4">
                    <BootstrapInput @bind-Value="Model.Password"
                                    TValue="string"
                                    PlaceHolder="请输入密码"
                                    type="password"
                                    IsTrim="true"
                                    IsClearable="true" />
                </div>

                <div class="mb-4">
                    <Button ButtonType="ButtonType.Submit" Color="Color.Primary" Class="w-100" Size="Size.Large">
                        登录
                    </Button>
                </div>
            </ValidateForm>
            <p class="text-center text-muted" style="font-size: 0.9rem;">
                登录即视为同意 <a href="#" class="text-primary">《服务协议》</a>
            </p>
            <div class="help-upload-box" @onclick="ShowDialog">
                <i class="fa-solid fa-user-plus"></i>
                <span class="upload-text">上传授权文件</span>
            </div>
        </div>
    </Animate>
</div>

@code {
    [Inject]
    [NotNull]
    private DialogService? DialogService { get; set; }

    [Inject]
    [NotNull]
    private UserApiServices? UserApiServices { get; set; }
    [Inject]
    [NotNull]
    private NavigationManager? NavigationManager { get; set; }
    [Inject]
    [NotNull]
    private MessageService? MessageService { get; set; }

    private LoginModel Model { get; set; } = new LoginModel();

    public class LoginModel
    {
        [Required(ErrorMessage = "请输入账号")]
        public string Account { get; set; } = string.Empty;

        [Required(ErrorMessage = "请输入密码")]
        public string Password { get; set; } = string.Empty;
    }

    private async Task LoginClick(EditContext context)
    {
        try
        {
            var result = await UserApiServices.Login(Model.Account, Model.Password);
            if (result?.Succeeded == true)
            {
                NavigationManager.NavigateTo("/dashboard");
            }
            else
            {
                await MessageService.Show(new MessageOption()
                    {
                        Content = result?.Message ?? "未知错误",
                        Icon = "fa - light fa - xmark",
                        Color = Color.Warning
                    });
            }
        }
        catch (Exception ex)
        {
            await MessageService.Show(new MessageOption()
                {
                    Content = "内部异常",
                    Icon = "fa - light fa - xmark",
                    Color = Color.Warning
                });
        }
    }

    public async Task ShowDialog()
    {
        var option = new ResultDialogOption
            {
                Title = "上传授权文件",
                Size = Size.Medium,
                ShowCloseButton = true,
                ShowFooter = false
            };

        await DialogService.ShowModal<AuthDialog>(option);
    }
}