@using System.Diagnostics.CodeAnalysis
@using CelHost.Apis.ApiServices

<div class="p-3">
    <InputUpload TValue="string" ShowDeleteButton="true" OnChange="OnFileChange" OnDelete="OnFileDelete" Accept=".license" />
    <div class="mt-3 text-end">
        <Button OnClick="UploadFile" Color="Color.Primary" Disabled="@(!CanUpload)" IsLoading="@IsUploading">
            提交
        </Button>
    </div>
</div>