.layout {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

    .layout .layout-sidebar {
        box-sizing: content-box;
        z-index: 10;
        position: sticky;
    }

    .layout .layout-vmain {
        display: flex;
        flex: 1;
        flex-direction: column;
        box-sizing: content-box;
        padding: 0;
        margin: 0;
    }

        .layout .layout-vmain .layout-vheader {
            z-index: 10;
            position: sticky;
        }

        .layout .layout-vmain .layout-content {
            overflow-y: auto;
            scrollbar-width: none;
            background-color: #f8f7f6;
            -ms-overflow-style: none;
            flex: 1;
        }

            .layout .layout-vmain .layout-content ::-webkit-scrollbar {
                display: none;
            }

        .layout .layout-vmain .layout-footer {
            z-index: 10;
            position: sticky;
        }
