@using System.Diagnostics.CodeAnalysis

<div class="layout">
    <div class="layout-sidebar">
        @Sidebar
    </div>
    <div class="layout-vmain">
        <div class="layout-vheader">
            @Header
        </div>
        <div class="layout-content">
            <div>
                @Main
            </div>
        </div>
        @if (ShowFooter)
        {
            <div class="layout-footer">
                @Footer
            </div>
        }
    </div>
</div>