.sidebar-nav {
    width: 14rem;
    height: 100vh;
    background-color: rgba(255,255,255,0);
    color: #333;
    padding-top: 1rem;
    overflow-y: auto;
}

    .sidebar-nav ::-webkit-scrollbar {
        display: none;
    }

    .sidebar-nav .title {
        margin: 0.5rem 0.5rem 1rem;
        text-align: center;
        font-size: 1.3rem;
    }

        .sidebar-nav .title .collapsed {
            display: none;
        }

.nav-item {
    display: flex;
    align-items: center;
    padding: 0.4rem;
    color: #35404f;
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    margin: 0 0.5rem 1rem;
    border-radius: 0.5rem;
}

    .nav-item:hover {
        background-color: #ffffff;
    }

    .nav-item:active {
        background-color: #ffffff;
        font-weight: 600;
    }

    .nav-item i {
        margin-right: 0.6rem;
    }



.nav-group .toggle-icon {
    margin-left: auto;
    font-size: 0.9rem;
}

.nav-children {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
}

    .nav-children.expanded {
        max-height: 500px;
    }

.nav-item.child {
    padding-left: 2.5rem;
    font-size: 0.95rem;
}

    .nav-item.child:hover {
        background-color: #ffffff;
    }

    .nav-item.child.active {
        background-color: #ffffff;
        font-weight: bold;
    }
