<div id="page-root" tabindex="-1">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
<style>
    #page-root {
    }

        #page-root:focus {
            outline: none;
        }

</style>